
.body
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 200rpx 

  .input
    width: 80%
    margin-top: 30rpx

  .login
    width: 60%
    height: 80rpx
    border-radius: 30rpx
    background: radial-gradient( white,#F0FFFF)
    margin-top: 40rpx 
    line-height: 80rpx
