.root-patients
  display: flex
  flex-direction: column
  align-items: center

.scrollview
  width: 100%
  height: calc( 100vh - 120px )

  .scrollbody
    width: 100%
    padding-bottom: 20px
    display: flex
    flex-direction: column
    align-items: center

    .card
      width: 80%
      border-radius: 20px
      margin-top: 20px
      padding: 20px
      display: flex
      flex-direction: row
      background: linear-gradient(to bottom,#FDF5E6,white)
      box-shadow: 5px 5px 15px lightgray

      .avatar
        width: 250px
        height: 300px
        border-radius: 20px
        box-shadow: 0 0 10px lightgray

      .info
        display: block
        flex-direction: column
        margin-left: 25px
        position: relative

        .name
          display: block
          font-weight: bold
          margin: 30px 0

        .icon-text
          display: block
          margin-top: 15px

          .info-icon
            width: 40px
            height: 40px
            margin-right: 10px

          .info-text
            vertical-align: top

        .button-list
          display: block
          margin-top: 30px

          .icon
            float: right
            margin-left: 20px

.add
  width: 85%
  position: absolute
  bottom: 40px
  border-radius: 50px
  background-color: #FFDAB9
