.at-noticebar
    display: block
    margin-bottom: 20px
    .at-noticebar__more
        position: absolute
        right: 10px

.health-info-cards
  display: block
  padding-bottom: 400px

  .card-container
    display: block
    padding-bottom: 20px

    .no-data-text
      display: inline-block
      font-size: 50px
      font-weight: bold
      color: grey

    .data-text
      display: inline-block
      font-size: 50px
      font-weight: bold
      margin-right: 10px
      color: black

    .unit-text
      display: inline-block
      font-size: medium
      color: grey

.countdown-container
  display: block
  width: 100%
  text-align: center

.float-btn-container
  position: fixed
  z-index: 100
  bottom: 250px
  right: 40px
  color: white

  .svg-icon
    width: 70%
    height: 70%

  .secondary-btn
    background-color: white
    color: grey
    margin-bottom: 20px

.alarm-container
  display: block
  text-align: center

  .tags
    margin-top: 20px
    justify-content: center
    margin-left: 10px
    &.drug-name
      color: #6b8fe1
    &.dosage
      color: #635617
    &.dose
      color: #4faf70

.time-up-cover
  position: fixed
  height: 100%
  width: 100%
  z-index: 998
  background: linear-gradient(to bottom, #ffffffff, #5d89ed63)
  -webkit-backdrop-filter: blur(10px)
  backdrop-filter: blur(10px)
  text-align: center

  &.warning
    background: linear-gradient(to bottom, #ffffffff, #f3cb1863)
    z-index: 999

  .prompt
    display: block
    color: #5a5a5a

  .drug-info-container
    display: block
    margin-top: 40%

    .drug-name
      display: block
      font-size: xx-large
      color: #1e1e1e
      font-weight: bold

    .drug-dose
      display: inline-block
      margin-top: 20px
      color: #4faf70
      font-size: large

    .drug-form
      display: inline-block
      margin-left: 20px
      color: #da4f7a
      font-size: large

  .btn-container
    z-index: 1000
    margin-left: auto
    margin-right: auto
    margin-top: 50px

    .done-btn
      margin-left: 20%
      margin-right: 20%
      margin-top: 20px
      background-color: transparent

    .skip-btn
      margin-left: 20%
      margin-right: 20%
      background-color: transparent

  .drug-date
    display: block
    margin-top: 50px
    color: #e53f73
