.health-info-cards
  padding-bottom: 400rpx
  .card-container
    padding-bottom: 20rpx

.countdown-container
  width: 100%
  text-align: center

.add-drug-btn
  position: fixed
  z-index: 999
  bottom: 250px
  right: 40px
  color: white
  padding: 10px 20px
  cursor: pointer

.alarm-container
  text-align: center

  .tags
    margin-top: 20px
    justify-content: center
    margin-left: 10px
    &.drug-name
      color: #6b8fe1
    &.dosage
      color: #635617
    &.dose
      color: #4faf70
